name: Release-Nightly-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main

pr: none

pool:
  name: 'Private Docker'
  demands:
    - docker

variables:
  buildConfiguration: 'Release'
  NUGET_PACKAGES: '$(Pipeline.Workspace)/.nuget/packages'

stages:
  - stage: UnitTests
    displayName: Unit Tests
    jobs:
      - job: release
        displayName: Run .NET release
        steps:
          - checkout: self
            clean: true

          - template: ../templates/dotnet-setup.yml

          - task: Cache@2
            inputs:
              key: 'nuget | "$(Agent.OS)" | **/packages.lock.json'
              restoreKeys: |
                nuget | "$(Agent.OS)"
                nuget
              path: $(NUGET_PACKAGES)

          - script: dotnet --info
            displayName: 'dotnet --info'
            env:
              DOTNET_CLI_TELEMETRY_OPTOUT: 'true'

          - script: dotnet tool restore
            displayName: 'Tool restore'
            env:
              DOTNET_CLI_TELEMETRY_OPTOUT: 'true'

          - template: ../templates/persist-parameter-as-file.yml
            parameters:
              file: $(MONEYERP_ENDPOINT_CERTIFICATE)
              fileExt: 'pem'
              stepName: persist_client_secret

          - template: ../templates/get-access-token.yml
            parameters:
              tokenServerUrl: $(MONEYERP_ENDPOINT)
              selfSignedServerCert: $(persist_client_secret.file_path)
              clientId: $(MONEYERP_CLIENT_ID)
              clientSecret: $(MONEYERP_CLIENT_SECRET)
              stepName: get_token

          - template: ../templates/fetch-graphql-schema.yml
            parameters:
              endpoint: $(MONEYERP_ENDPOINT)
              selfSignedServerCert: $(persist_client_secret.file_path)
              access_token: $(get_token.access_token)
              stepName: fetch_schema
              workingDirectory: src/Aviationexam.MoneyErp.Graphql

          - task: PublishPipelineArtifact@1
            displayName: 'Publish schema.json'
            inputs:
              targetPath: '$(Pipeline.Workspace)/src/Aviationexam.MoneyErp.Graphql/schema.json'
              artifact: 'schema.json'
              publishLocation: 'pipeline'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish schema.graphql'
            inputs:
              targetPath: '$(Pipeline.Workspace)/src/Aviationexam.MoneyErp.Graphql/schema.graphql'
              artifact: 'schema.graphql'
              publishLocation: 'pipeline'

          - script: dotnet restore --nologo --packages $(NUGET_PACKAGES)
            displayName: 'Restore'
            env:
              DOTNET_CLI_TELEMETRY_OPTOUT: 'true'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish openapi.v1.original.json'
            inputs:
              targetPath: '$(Pipeline.Workspace)/src/Aviationexam.MoneyErp.RestApi/openapi.v1.original.json'
              artifact: 'openapi.v1.original.json'
              publishLocation: 'pipeline'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish openapi.v2.original.json'
            inputs:
              targetPath: '$(Pipeline.Workspace)/src/Aviationexam.MoneyErp.RestApi/openapi.v2.original.json'
              artifact: 'openapi.v2.original.json'
              publishLocation: 'pipeline'

          - script: dotnet build --no-restore --nologo -p:ContinuousIntegrationBuild=true --configuration $(buildConfiguration)
            displayName: 'Build'
            env:
              DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
