parameters:
  - name: dotnetPostFix
    type: string
  - name: stepName
    type: string
steps:
  - bash: |
      set -Eeu

      mkdir -p /azp/_work/_temp/dotnet-$(dotnetPostFix)/.nuget/NuGet

      export CUSTOM_NUGET_CONFIG_FILE=/azp/_work/_temp/dotnet-$(dotnetPostFix)//.nuget/NuGet/NuGet.Config

      echo "##vso[task.setvariable variable=CustomNugetConfigFile]${CUSTOM_NUGET_CONFIG_FILE}"
      echo "##vso[task.setvariable variable=CustomNugetConfigFile;isOutput=true]${CUSTOM_NUGET_CONFIG_FILE}"

      tee "${CUSTOM_NUGET_CONFIG_FILE}" >/dev/null <<EOF
      <?xml version="1.0" encoding="utf-8"?>
      <configuration>
        <packageSources>
          <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        </packageSources>
      </configuration>
      EOF
    name: ${{ parameters.stepName }}
    displayName: 'Create custom NuGet.Config'
